<nav class="navbar navbar-expand-sm bg-groupomania">
  <a class="navbar-brand" href="/"
    ><img src="./assets/logo.svg" alt="Groupomania" style="max-width: 200px"
  /></a>
  <button
    class="navbar-toggler d-lg-none"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item" routerLinkActive="active" *ngIf="isLoggedIn">
        <a class="nav-link" routerLink="/newsfeed"
          >Fil d'actualités <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="isLoggedIn">
        <a class="nav-link" routerLink="/forum">Forum</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="!isLoggedIn">
        <a class="nav-link" routerLink="/login">Connexion</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="!isLoggedIn">
        <a class="nav-link" routerLink="/register">Inscription</a>
      </li>
    </ul>
  </div>
  <div ngbDropdown class="d-inline-block" *ngIf="isLoggedIn">
    <button class="btn btn-outline-light" id="dropdownBasic1" ngbDropdownToggle>
      Paramètres
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem routerLink="/profile">Profil</button>
      <button ngbDropdownItem (click)="onLogout()">Déconnexion</button>
      <button ngbDropdownItem (click)="onUnsubscribe()">Désinscription</button>
    </div>
  </div>
</nav>
