<div class="container-fluid mt-100">
  <div class="row" *ngIf="!editMode">
    <div class="col-md-12">
      <div class="card mb-4">
        <div class="card-header">
          <div class="media flex-wrap w-100 align-items-center">
            <img
              [src]="imageUrl"
              class="d-block ui-w-40 rounded-circle"
              style="max-height: 50px"
              alt=""
            />
            <div class="media-body ml-3">
              <a href="javascript:void(0)" data-abc="true">{{ username }}</a>
              <div class="text-muted small">
                Créé le {{ thread.dateCreated | date: "dd/M/yyyy" }}
              </div>
            </div>
            <div class="text-muted small ml-3">
              <div>
                <h5>{{ thread.title | uppercase }}</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p>
            {{ thread.content }}
          </p>
        </div>
        <div
          class="card-footer d-flex flex-wrap justify-content-between align-items-center px-0 pt-0 pb-3"
        >
          <div class="px-4 pt-3">
            <a
              href="javascript:void(0)"
              class="text-muted d-inline-flex align-items-center align-middle"
              data-abc="true"
            >
              <span
                class="align-middle"
                (click)="onLike()"
                *ngIf="!userLikesPost"
                >🤍 {{ likesAmount }}</span
              >
              <span
                class="align-middle"
                (click)="onLike()"
                *ngIf="userLikesPost"
                >❤️ {{ likesAmount }}</span
              >
            </a>
          </div>
          <div
            class="px-4 pt-3 align-items-center align-middle"
            *ngIf="isThreadAuthor"
          >
            <button
              type="button"
              class="btn btn-success"
              (click)="onEditThread()"
            >
              Modifier
            </button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="onDeleteThread()"
            >
              Supprimer
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="editMode">
    <form (ngSubmit)="onUpdateThread(form)" #form="ngForm">
      <div class="form-group">
        <label for="title">Titre</label>
        <input
          type="text"
          class="form-control"
          name="title"
          aria-describedby="titleId"
          [(ngModel)]="thread.title"
          required
        />
      </div>
      <div class="form-group">
        <label for="Contenu">Ecrivez votre texte</label>
        <textarea
          class="form-control"
          name="content"
          rows="3"
          [(ngModel)]="thread.content"
          required
        ></textarea>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!form.valid">
        Mettre à jour
      </button>
      <button
        type="button"
        class="btn btn-danger"
        (click)="onCancelEditThread()"
      >
        Annuler
      </button>
    </form>
  </div>
  <app-single-post *ngFor="let post of posts" [post]="post">></app-single-post>

  <div
    class="d-flex flex-wrap justify-content-end align-items-center px-0 pt-0 pb-3"
  >
    <div class="px-4 pt-3">
      <button type="button" class="btn btn-primary" (click)="onAnswer()">
        <i class="ion ion-md-create"></i>&nbsp; Répondre
      </button>
    </div>
  </div>

  <div *ngIf="answerMode">
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
      <div class="form-group">
        <hr />
        <label for="Contenu">Ecrivez votre réponse</label>
        <textarea
          class="form-control"
          name="content"
          rows="3"
          ngModel
          required
        ></textarea>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!form.valid">
        Créer
      </button>
      <button type="button" class="btn btn-danger" (click)="onCancel()">
        Annuler
      </button>
    </form>
  </div>
</div>
