<div class="row">
  <div class="col-md-12" *ngIf="!editMode">
    <div class="card mb-4">
      <div class="card-header">
        <div class="media flex-wrap w-100 align-items-center">
          <img
            [src]="imageUrl"
            class="d-block ui-w-40 rounded-circle"
            style="max-height: 50px"
            alt=""
          />
          <div class="media-body ml-3">
            <a href="javascript:void(0)" data-abc="true">{{ username }}</a>
            <div class="text-muted small">
              Créé le {{ post.dateCreated | date: "dd/M/yyyy" }}
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <p>
          {{ post.content }}
        </p>
      </div>
      <div
        class="card-footer d-flex flex-wrap justify-content-between align-items-center px-0 pt-0 pb-3"
      >
        <div class="px-4 pt-3">
          <a
            href="javascript:void(0)"
            class="text-muted d-inline-flex align-items-center align-middle"
            data-abc="true"
          >
            <span class="align-middle" (click)="onLike()" *ngIf="!userLikesPost"
              >🤍 {{ likesAmount }}</span
            >
            <span class="align-middle" (click)="onLike()" *ngIf="userLikesPost"
              >❤️ {{ likesAmount }}</span
            >
          </a>
        </div>
        <div
          class="px-4 pt-3 align-items-center align-middle"
          *ngIf="isPostAuthor"
        >
          <button type="button" class="btn btn-success" (click)="onEditPost()">
            Modifier
          </button>
          <button type="button" class="btn btn-danger" (click)="onDeletePost()">
            Supprimer
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="editMode">
    <form (ngSubmit)="onUpdatePost(form)" #form="ngForm">
      <div class="form-group">
        <textarea
          class="form-control"
          name="content"
          rows="3"
          [(ngModel)]="post.content"
          required
        ></textarea>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!form.valid">
        Mettre à jour
      </button>
      <button type="button" class="btn btn-danger" (click)="onCancelEditPost()">
        Annuler
      </button>
    </form>
  </div>
</div>
