<div class="container-fluid mt-100">
  <div class="d-flex flex-wrap justify-content-between" *ngIf="!newThread">
    <div>
      <button
        type="button"
        class="btn btn-shadow btn-wide btn-primary"
        (click)="onNewThread()"
      >
        <span class="btn-icon-wrapper pr-2 opacity-7">
          <i class="fa fa-plus fa-w-20"></i>
        </span>
        Nouvelle conversation
      </button>
    </div>
    <div class="col-12 col-md-3 p-0 mb-3">
      <input type="text" class="form-control" placeholder="Rechercher..." />
    </div>
  </div>
  <div *ngIf="newThread">
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
      <div class="form-group">
        <label for="title">Titre</label>
        <input
          type="text"
          class="form-control"
          name="title"
          aria-describedby="titleId"
          placeholder="Votre nouvelle conversation..."
          ngModel
          required
        />
      </div>
      <div class="form-group">
        <label for="Contenu">Ecrivez votre texte</label>
        <textarea
          class="form-control"
          name="content"
          rows="3"
          ngModel
          required
        ></textarea>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!form.valid">
        Créer
      </button>
      <button type="button" class="btn btn-danger" (click)="onCancel()">
        Annuler
      </button>
    </form>
  </div>
  <div class="card mb-3">
    <div class="card-header pl-0 pr-0">
      <div class="row no-gutters w-100 align-items-center">
        <div class="col ml-3">Conversations</div>
      </div>
    </div>
    <div class="card-body py-3" *ngFor="let thread of threads">
      <div class="row no-gutters align-items-center">
        <div class="col">
          <a
            class="text-big"
            data-abc="true"
            style="cursor: pointer"
            (click)="onThread(thread.id)"
            >{{ thread.title }}</a
          >
          <div class="text-muted small mt-1">
            Créée le {{ thread.dateCreated | date: "dd/M/yyyy" }}
            &nbsp;·&nbsp;
            <a href="javascript:void(0)" class="text-muted" data-abc="true">{{
              thread.username
            }}</a>
          </div>
        </div>
      </div>
    </div>
    <hr class="m-0" />
  </div>
</div>
