<!-- <form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div class="form-group">
    <label for="title">Titre</label>
    <input
      type="text"
      class="form-control"
      name="title"
      aria-describedby="titleId"
      placeholder="Votre nouvelle conversation..."
      ngModel
      required
    />
  </div>
  <div class="form-group">
    <label for="Contenu">Ecrivez votre texte</label>
    <textarea
      class="form-control"
      name="content"
      rows="3"
      ngModel
      required
    ></textarea>
  </div>

  <button type="submit" class="btn btn-success" [disabled]="!form.valid">
    Créer
  </button>
  <button type="button" class="btn btn-danger" (click)="onCancel()">
    Annuler
  </button>
</form> -->
